<div class="mt-5">
  <h3 class="ms-3 ms-md-5">Edit Category</h3>
</div>

<div class="container shadow-lg p-3 mb-5 mt-4 rounded">
    {{#if category}}
  <form action="/admin/edit-category" class="row g-3 needs-validation" method="post" enctype="multipart/form-data" novalidate>
   <div class="form-group">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" class="form-control" value="{{category.name}}" id="categoryName" name="name"
          pattern="[A-Za-z ]+" required>
        <div class="invalid-feedback">
          Please enter a valid name (letters only).
        </div>
      </div>

  <div class="col-md-12">
    <label for="categoryDescription" class="form-label">Description</label>
    <input type="text" class="form-control des" value="{{category.description}}" 
    name="description" id="categoryDescription"
    pattern="[A-Za-z ]+" required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please Enter a Description
    </div>
  </div>

  <div class="col-md-12 d-flex">
    <img class="image-display rounded-3 w-25 image-fluid mx-auto mt-3" style="height: auto;" >
  </div>

  <div class="col-md-12">
    <label for="categoryImage" class="form-label">Category Image</label>
    <input type="file" accept="image/*" name="file" class="form-control category-img" aria-label="file example" id="categoryImage" >
  </div>

  <div class="col-md-12 d-none">
    <label for="categoryDescription" class="form-label">Catergory ID</label>
    <input type="text" class="form-control" value="{{category._id}}" name="categoryID" id="categoryDescription" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12 d-flex">
    <button class="btn btn-success mx-auto" type="submit">Save</button>
  </div>
</form>
{{/if}}
</div>

<script src="/javaScript/validation.js"></script>

<script>

  // Image Checking While Uploading
  const image = document.querySelector('.image-display')
  const categoryImage = document.querySelector('.category-img')
  
  categoryImage.addEventListener('change', (e) => {
    image.src = URL.createObjectURL(e.target.files[0])
  })


</script>