<style>
  .orange {
    background-color: #F46F36;
  }

  .lightColor {
    background-color: #e23c36;
  }
</style>

<div class="mt-5 d-block d-md-flex ms-auto">
  <div>
    <h3 class="ms-3 ms-md-5">Sales Reports</h3>
  </div>
</div>

<div>
  <form class="needs-validation ms-4 " novalidate>
    <div class="d-block d-md-flex justify-content-end me-3">
      <div class="me-2">
        <label for="start-date">Start Date</label>
        <input type="date" id="start-date" class="form-control startDate" required>
      </div>
      <div class="me-2">
        <label for="end-date">End Date</label>
        <input type="date" id="end-date" class="form-control endDate" required>
      </div>
      <div>
        <button type="submit" class="btn btn-success mt-2 mt-md-4">Generate Report</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 mt-3 table-responsive rounded">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Order No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Total</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody id="salesTable">

        </tbody>
      </table>

    </div>

    <div class="col-md-3 d-flex d-md-block mt-3">
      <div class="rounded shadow p-2 mx-auto">
        <h5 class="p-2 text-center">Transaction Details
          <hr style="border: none; height: 4px; background-color: grey;">
        </h5>
        <div class="d-flex justify-content-around">
          <p>Total Price</p>
          <p id="price-total">₹ <span id="total-price">0</span>.00</p>
        </div>
        <div class="d-flex justify-content-around">
          <p>Total Sales</p>
          <p id="total-sales">0</p>
        </div>
        <div class="d-flex justify-content-around">
          <p>Total Coupon Price</p>
          <p id="coupon-price">₹ <span id="total-coupon-price">0</span>.00</p>
        </div>
        <div class="d-flex justify-content-around">
          <p>Total Payment</p>
          <p id="total-payment">₹ <span id="overall-total">0</span>.00</p>
        </div>

        <div class="d-flex mb-3 mt-3 ">
          <button onclick="generateReport()" class="btn btn-success mx-auto report-download"
            style="display: none;">
            Download Report
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  // Starting Date && Ending Date
  let startDate
  let endDate
  let reportDownload = document.querySelector('.report-download');


  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          event.preventDefault(); // Prevent default form submission
          if (!form.checkValidity()) {
            form.classList.add("was-validated");
            return; // Stop processing if the form is not valid
          }

          // Transaction Details Div's
          let priceTotal = document.querySelector('#price-total');
          let couponPrice = document.querySelector('#coupon-price');
          let totalPayment = document.querySelector('#total-payment');

          // Transaction Details
          let totalPrice = document.querySelector('#total-price');
          let totalSales = document.querySelector('#total-sales');
          let totalCouponPrice = document.querySelector('#total-coupon-price');
          let overallTotal = document.querySelector('#overall-total');

          startDate = document.querySelector('.startDate').value;
          endDate = document.querySelector('.endDate').value;

          console.log(`Start Date: ${startDate}`);
          console.log(`End Date: ${endDate}`);

          if (startDate && endDate) {
            $.ajax({
              url: `/admin/get-sales-reports?startDate=${startDate}&endDate=${endDate}`,
              method: 'GET',
              success: response => {
                if (response.status) {
                  let orders = response.orders;

                  // Clear previous table data
                  let tableBody = document.querySelector('#salesTable');
                  tableBody.innerHTML = '';

                  if (orders.length === 0) {
                    tableBody.innerHTML = '<tr><td colspan="7" style="font-size: 1.3rem;" class="text-center fs-5">No Sales Report Found...</td></tr>';
                    reportDownload.style.display = "none"
                    totalCouponPrice.innerHTML = 0
                    overallTotal.innerHTML = 0
                    totalSales.innerHTML = 0
                    priceTotal.classList.remove('lightColor', 'rounded-2', 'text-light', 'px-2')
                    totalSales.classList.remove('bg-info', 'bg-gradient', 'rounded-2', 'text-light', 'px-2')
                    couponPrice.classList.remove('bg-warning', 'rounded-2', 'text-light', 'px-2')
                    totalPayment.classList.remove('orange', 'rounded-2', 'text-light', 'px-2')
                  } else {
                    priceTotal.classList.add('lightColor', 'rounded-2', 'text-light', 'px-2')
                    totalSales.classList.add('bg-info', 'bg-gradient', 'rounded-2', 'text-light', 'px-2')
                    couponPrice.classList.add('bg-warning', 'rounded-2', 'text-light', 'px-2')
                    totalPayment.classList.add('orange', 'rounded-2', 'text-light', 'px-2')
                    totalPrice.innerHTML = response.totalPrice
                    totalSales.innerHTML = response.totalSales
                    totalCouponPrice.innerHTML = response.totalCouponPrice
                    overallTotal.innerHTML = response.overallTotal
                    let html = '';
                    reportDownload.style.display = "block"
                    orders.forEach((order, index) => {
                      html += `
                    <tr>
                      <th scope="row">${order.orderNumber}</th>
                      <td>${order.customer}</td>
                      <td><span>₹</span>${order.totalSalePrice}<span>.00</span></td>
                      <td class="text-center">${order.paymentMethod}</td>
                      <td class="text-center">${order.paymentStatus}</td>
                      <td>${order.createdAt}</td>
                      <td>
                        <a href="/admin/orders/view-details/${order._id}" style="text-decoration: none; color: #F46F36;">
                          View Details <i class="fa-solid fa-up-right-from-square ms-1"></i>
                        </a>
                      </td>
                    </tr>
                  `;
                    });
                    tableBody.innerHTML = html;
                  }
                } else {
                  window.location.href = response.redirected;
                }
              },
              error: (xhr, status, error) => {
                console.error('Error fetching sales report:', error);
              }
            });
          }


          form.classList.add("was-validated");
        },
        false
      );
    });
  })();


  // Generate Report Fn
  function generateReport() {
    startDate = document.querySelector('.startDate').value;
    endDate = document.querySelector('.endDate').value;
    if (startDate && endDate) {
      $.ajax({
        url: `/admin/download-sales-reports?startDate=${startDate}&endDate=${endDate}`,
        method: 'GET',
        success: response => {
          if(response.status) {
            startDate
            endDate
            let link = document.createElement('a')
            link.href = `/reports/sales_report_${response.startDate}_to_${response.endDate}.pdf`
            link.download = `/reports/sales_report_${response.startDate}_to_${response.endDate}.pdf`
            link.click()
          } else {
            window.location.href = response.redirected
          }
        }
      })
    } else {
      Swal.fire("Can't get Download Report without Starting Date")
    }
  }


</script>