    {{!-- Header  --}}
    <div class="col-12">
        <div class="w-100" style="height: 5vh; background-color: #F46F36;"></div>
        <div class="w-100" style="height: 3vh; background-color: #F06E6E;"></div>
    </div>

{{!-- Logo --}}

<img
  src="/picture/logo/logoUser.png"
  class=" float-start"
  style="position: absolute; top: 5%; left: 3%; width: 80px; height: 80px;"
  alt="user-page-logo"
/>