<style>
  a:hover {
    cursor: pointer;
    color: rgb(79, 73, 73);
  }

  .active {
    background-color: #F46F36;
  }
</style>

<div class="div">
  <ul id="dashboard-lists" class="user-dashboard-ul shadow-lg rounded-3 table-responsive">
    <a href="/user/dashboard">
      <li id="dashboard" {{!-- class="d-none d-md-none d-xl-block" --}}>
        Dashboard
      </li>
      {{!-- <li id="dashboard" class="d-md-block d-xl-none">
        <i class="fa-solid fa-tachograph-digital"></i>
      </li> --}}
    </a>
    <a href="/user/dashboard/account-details">
      <li id="account-details">
        Account Details
      </li>
    </a>
    <a href="/user/dashboard/orders">
      <li id="orders">
        Order History
      </li>
    </a>
    <a href="#">
      <li id="track-order">
        Track Order
      </li>
    </a>
    <a href="/user/dashboard/wishlist">
      <li id="wishlist">
        Wishlist
      </li>
    </a>
    <a href="/user/dashboard/address">
      <li id="address">
        Address
      </li>
    </a>
    <a href="/user/dashboard/wallet">
      <li id="wallet">
        Wallet
      </li>
    </a>
    <a href="/logout">
      <li id="logout">
        Logout
      </li>
    </a>
  </ul>
</div>


<script>

  document.addEventListener('DOMContentLoaded', () => {
    const lists = document.querySelectorAll('.user-dashboard-ul li');
    //alert(location.pathname)
    const dashboardId = 'dashboard'
    const activeItemId = localStorage.getItem('activeItemId')
    let initialPathName = window.location.pathname == '/user/dashboard'

    if (initialPathName) {
      lists.forEach(list => {
        list.classList.remove('active')
      })
      let dashboard = document.getElementById(dashboardId)
      if (dashboard) dashboard.classList.add('active')
    } else {
      let activeItem = document.getElementById(activeItemId)
      activeItem.classList.add('active')
    }

    lists.forEach(list => {
      list.addEventListener('click', (e) => {
        lists.forEach(li => li.classList.remove('active'))
        list.classList.add('active')
        localStorage.setItem('activeItemId', e.target.id)
      })
    })

  })

</script>