<style>
  .list-group-item.active {
    background-color: #F46F36;
    border-color: aliceblue;
  }

  .list-group-item {
    border: 1px ridge rgba(228, 226, 226, 0.57)
  }

 .user-sub-header li a.active-li {
  color: white;
  text-decoration: underline;
  text-decoration-color: #b1b1b1cc;
}

  .user-sub-header li a {
  color: rgb(17, 15, 15);
  text-decoration: none;
}
</style>

<nav class="navbar navbar-expand-lg pt-4 " style="background-color: #F46F36;">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mt-lg-0 mt-2">

        <input class="form-control me-2 me-lg-2" onclick="searchProduct()" id="searchBtn" placeholder="Search"
          aria-label="Search">

        <li class="nav-item">
          {{#if user}}
          <a class="nav-link fw-bold" aria-current="page" href="/logout">Logout</a>
          {{else}}
          <a class="nav-link fw-bold" aria-current="page" href="/login">Login</a>
          {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="fa-solid fa-cart-shopping" style="font-size: 1.1rem;"></i>
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link" id="dashboard-btn" href="/user/dashboard">
            <i class="fa-solid fa-circle-user" style="font-size: 1.2rem;"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<a href="/" class="text-decoration-none">
  <img src="/picture/logo/logoUser.png" class=" float-start"
    style="position: absolute; top: 5%; left: 3%; width: 80px; height: 80px; z-index: 1;" alt="user-page-logo" />
</a>

{{!-- --}}
<div style="background-color: #F06E6E;" class="">
  <ul class="d-flex user-sub-header" style="list-style: none;">
    <li style="margin-left: 110px;">
      <a href="/">
        Home
      </a>
    </li>
    <li style="margin-left: 20px;">
      <a href="/user/products">
        Products
      </a>
    </li>
    <li style="margin-left: 20px;">
      <a href="/brands">
        Brands
      </a>
    </li>

  </ul>
</div>

{{!-- Sign up Model Banner --}}
{{#if user}}
{{else}}
<div class="sign-up-banner fixed-top"
  style="background-color: #F06E6E; width: 100%; height: 25px; display: flex; justify-content: space-between; align-items: center; padding: 0 10px;">
  <div class="mt-2 mt-md-0 d-none d-sm-block" style="flex-grow: 1; text-align: center;">
    Sign up and get 20% off to your first order.
    <a href="/signup" style="color: black;">
      Sign Up Now
    </a>
  </div>
  <div class="d-block d-sm-none" style="flex-grow: 1; text-align: center;">
    20% off on 1st order.
    <a href="/signup" style="color: black;">
      Sign Up
    </a>
  </div>
  <button type="button" class="btn-close banner-close" aria-label="Close"></button>
</div>
{{/if}}


<script>

  // Sign up Banner
  const closeBtn = document.querySelector('.banner-close')
  const signUpBanner = document.querySelector('.sign-up-banner')
  if (signUpBanner) closeBtn.addEventListener("click", () => signUpBanner.style.display = 'none')

  document.addEventListener('DOMContentLoaded', (e) => {
    const subNavbarHeadings = document.querySelectorAll('.user-sub-header li a')
    //  console.log(subNavbarHeadings)
    const pageUrl = e.target.location.pathname
    subNavbarHeadings.forEach(subNav => {
      subNav.classList.remove('active-li')
    //  subNav.style.color = "black"
    })
      console.log(pageUrl)
      if (pageUrl === '/') {
        subNavbarHeadings[0].classList.add('active-li')
      } else if (pageUrl === '/user/products') {
        subNavbarHeadings[1].classList.add('active-li')
      } else if(pageUrl === '/brands') {
        subNavbarHeadings[2].classList.add('active-li')
      } else {

      }
  })



</script>