<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <p style="font-size: .9rem;">
        Fuel your fitness journey with ProteinPulse Plaza, your one-stop
        destination for premium gym protein products.
      </p>
      <ul class="d-flex" style="list-style-type: none; ">
        <li class="p-1" style="border: 1px solid black; border-radius: 60%; width: fit-content; "><i
            class="fa-brands fa-x-twitter"></i></li>
        <li class="p-1" style="border: 1px solid black; border-radius: 60%; width: fit-content; "><i
            class="fa-brands fa-facebook"></i></li>
        <li class="p-1" style="border: 1px solid black; border-radius: 60%; width: fit-content; "><i
            class="fa-brands fa-square-instagram"></i></li>
        <li class="p-1" style="border: 1px solid black; border-radius: 60%; width: fit-content;"><i
            class="fa-brands fa-github"></i></li>
      </ul>
    </div>
    <div class="col-md-2 mt-3">
      <h6>COMPANY</h6>
      <p>About</p>
      <p>Features</p>
      <p>Works</p>
      <p>Career</p>
    </div>
    <div class="col-md-2 mt-3">
      <h6>HELP</h6>
      <p>Customer Support</p>
      <p>Delivery Details</p>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
    </div>
    <div class="col-md-2 mt-3">
      <h6>FAQ</h6>
      <p>Account</p>
      <p>Manage Deliveries</p>
      <p>Orders</p>
      <p>Payments</p>
    </div>
    <div class="col-md-2 mt-3">
      <h6>RESOURCES</h6>
      <p>Free eBooks</p>
      <p>Development Tutorial</p>
      <p>How to Blog</p>
      <p>Youtube playlist</p>
    </div>
  </div>
  <div>
    <hr>
    <div class="d-flex">
      <div style="font-size: 11px;">
        proteinpulseplaza.co © 2024-2026,
        <span class="">
          All Rights Reserved
        </span>
      </div>
      <div class="ms-auto" style="font-size: 26px;">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-paypal"></i>
        <i class="fa-brands fa-cc-apple-pay"></i>
        <i class="fa-brands fa-google-pay"></i>
      </div>
    </div>
  </div>
</div>