<div class="container mt-5 ">
    <div class="col-md-12">
        <h2 class="pt-5 ms-md-5">FORGOT PASSWORD ? </h2>
      <div class="">
      <form action="/forgot-password" method="post"
      class="w-75 mx-auto mt-4 shadow-lg p-3 mb-5 rounded needs-validation" novalidate>
  <div class="mb-3 mt-2">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control email-value has-validation" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <div class="invalid-feedback">
        Please enter a valid email address 
      </div>
  </div>
  
  {{#if userErr}}
  <p class="user-error-message text-danger" 
  style="font-size: 14px;"
  >
    {{userErr}}
  </p>
  {{/if}}

  {{#if userSuccess}}
  <p class="user-error-message text-danger" 
  style="font-size: 14px;"
  >
    {{userSuccess}}
  </p>
  {{/if}}

  <button type="submit" style="background-color: #F46F36; " class="btn d-flex mx-auto mt-3 text-dark">SEND</button>
</form>

        </div>
    </div>
</div>



<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

//errror message
const userErrorMessage = document.querySelector('.user-error-message')
const emailValue = document.querySelector('.email-value')
if(userErrorMessage){
  emailValue.style.borderColor = "red" 
}

emailValue.addEventListener('input', ()=> {
  userErrorMessage.style.display = "none"
  emailValue.style.borderColor = "#C5C6D0" 
})

</script>