<div class="mt-5 ">
    <div class="card mx-auto" style="width: 20rem; margin-top: 11rem; background-color: #F46F36;"> 
  <div class="card-body p-5">
    <h5 class="card-title text-center">ENTER YOUR OTP HERE</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary mt-4">OTP</h6>
    <form action="/">
    <input type="text" class="form-control" placeholder="Enter the otp">
    <h6 class="otp-message"></h6>
    <div class="d-flex pt-2">
        <h6>0:50</h6>
        <div class="btn resend-btn btn-outline-light p-1 ms-auto">RESEND</div>
        </div>
            <button class="btn mt-4 d-flex mx-auto" style="color: #F46F36; background-color: black;" type="submit">CONFIRM</button>
    </form>
    </div>

  </div>
</div>
</div>



<script>
    // resend button 
    const resendBtn = document.querySelector('.resend-btn')
    const otpMessage = document.querySelector('.otp-message')
    let btnClicked = false

    const otpMessageView = () => {
        otpMessage.innerHTML = `OTP resent succesfully`
    }

    resendBtn.addEventListener('click', ()=> {
    if(!btnClicked) {
        btnClicked = true
        resendBtn.disabled = true
        otpMessageView()
        setTimeout(()=> {
            otpMessage.innerHTML = " "
        }, 1000)
        setTimeout(()=>{
            btnClicked = false
            resendBtn.disabled = false
        },10000)
    }
    })
</script>