<div class="container vh-100">
    <div class=" w-100 rounded-4" style="background-color: rgba(206, 199, 199, 0.808); margin-top: 4rem;">
        <div class="d-flex justify-content-between p-4">
            <div>
                <h5>Order Completed</h5>
                <h6 class="text-success">Ariving Shortly</h6>
            </div>

            <div>
                <a href="/user/dashboard/orders" style="text-decoration: none;">
                    <div class="btn btn-dark mt-2">
                        View Order
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="w-100" style="margin-top: 5rem;">
        <div class="text-center">
            <i class="fa-regular fa-circle-check text-success" style="font-size: 6rem;"></i>

            <h5 class="mt-2">Your Order is Completed</h5>

            <p class="w-25 mx-auto py-1">Thank You for your order, Sit tight we are processing your order
                we will update you with your order in email
            </p>
        </div>
        <div class="d-flex">
            <a href="/" class="mx-auto">
                <div class="btn text-light" style="background-color: #F46F36;">Continue Shopping</div>

            </a>
        </div>
    </div>
    <div class="mt-5">

    </div>
</div>