<div class="container mt-5">
  <h2 class="text-center" style="margin-bottom: 45px;">SIGNUP</h2>
  <div
    class="loginBox shadow-lg rounded border border-1"

  >
    <div class="row" 
    style=" min-height: 595px"
    >
      <div class="col-12 col-sm-12 col-md-7" style="margin: 0;" >
        <img
          src="/picture/auths/signupUpdate.jpg"
          class="img-fluid"
          style="min-height: 595px"
          alt="signup-image"
        />

      </div>

    <div class="col-12 col-sm-12 col-md-5">
    <form action="/signup" method="post" class="row g-3 needs-validation p-4 me-lg-5 mt-md-3 mt-xl-0"  novalidate>
  <div class="col-md-6 col-lg-6 ">
    <label for="firstName" class="form-label">FIRSTNAME</label>
    <input type="text" name="firstName" class="form-control" id="firstName" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-6 col-lg-6">
    <label for="lastName" class="form-label">LASTNAME</label>
    <input type="text" name="lastName" class="form-control" id="lastName" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-12">
    <label for="email" class="form-label">EMAIL</label>
    <div class="input-group has-validation">
      <input type="email" name="email" class="form-control" id="email" aria-describedby="inputGroupPrepend" required>
      <div class="valid-feedback">
        Email address is valid
      </div>
      <div class="invalid-feedback">
        Please enter a valid email address
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-12">
    <label for="password" class="form-label">PASSWORD</label>
    <input type="password" name="password" class="form-control" minlength="8" id="password" required>
    <div class="valid-feedback">
      Looks Ok
    </div>
    <div class="invalid-feedback">
      please enter a strong password
    </div>
  </div>
  
  <div class="col-md-12 col-lg-12">
    <label for="mobileNumber" class="form-label">MOBILE</label>
    <input type="tel" name="mobileNumber" class="form-control" id="mobileNumber" pattern="[1-9]{1}[0-9]{9}" minlength="10" maxlength="10" required>
    <div class="valid-feedback">
      Mobile number is valid
    </div>
    <div class="invalid-feedback">
      Please enter a valid 10-digit mobile number
    </div>
  </div>

  <div class="col-md-12 col-lg-12">
    <label for="referral-code" class="form-label">REFERRAL CODE (optional)</label>
    <input type="text" name="referralCode" class="form-control" id="referral-code"
    minlength="10" maxlength="10">
  </div>

  <div>
    <a href="/login" style="text-decoration: none;">
      Already a Member ? 
    </a>
  <div class="col-12 d-flex">
    <button class="btn mt-2 mt-lg-2 mt-xl-4 mx-auto" style="color: #F46F36; background-color: black;" type="submit">SIGNUP</button>
  </div>
  {{#if loginMessage}}
  <p class="text-success py-2 text-center signup-message">
    {{loginMessage}}
  </p>
  {{/if}}
  </div>
</form>
      </div>
    </div>
  </div>
</div>




<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity() || !validatePhoneNumber()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

// Signup Messages
const signupMsg = document.querySelector('.signup-message')


  setTimeout(()=> {
    signupMsg.style.display = "none" 
  }, 5000)




// Email validation

document.addEventListener('DOMContentLoaded', ()=> {

const emailInp = document.querySelector('#email')
const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

emailInp.addEventListener('input', () => {
 console.log('Clicked')
 const email = emailInp.value
 console.log(email)
 const validFeedback = emailInp.nextElementSibling
 const invalidFeedback = validFeedback.nextElementSibling


  if(!isValidEmail(email))  {
        invalidFeedback.style.display = 'block';
        validFeedback.style.display = 'none';
      } else {
        invalidFeedback.style.display = 'none';
        validFeedback.style.display = 'block';
      }
})

  // Function to check the email with emailregex
  function isValidEmail(email) {
    return emailRegex.test(email)
  }
})

// Password - Space removing btw password
  password.addEventListener('input', () => {
    if(password.value.includes(' ')) {
      password.value = password.value.trim()  
    }
  })

</script>
