@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.select-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* login page */

.loginContainer {
  background-color: transparent;
}

.formColumn {
  height: 100%;
}

.formColumn form {
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* side NavBar */

.nav-link-nav {
  color: black;
  background-color: white;
  border-radius: 5px;
}

.active-navbar-li .nav-link-nav {
  color: white !important;
  background-color: black !important;
}

.nav-link-nav:hover {
  color: #f46f36;
  background-color: initial;
}

/* Home Page */

.banner-img {
  object-fit: fill;
  /* object-fit: cover; */
  height: 300px;
  width: 100%;
  border: 4px solid black;
}

.carousel-indicators {
  position: absolute;
  top: 90%;
}

.product-image {
  width: 150px;
}

.checked {
  color: orange;
}

/* .unchecked {
  border: white;
} */

.star-btn:hover {
  cursor: pointer;
}

.fa-arrow-left,
.fa-arrow-right {
  cursor: pointer;
}

.categories {
  cursor: pointer;
}

.categories-title {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(113, 57, 13, 1) 47%,
    rgba(244, 111, 54, 1) 77%
  );
}

/* status toggler on/off btn */
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #1bed0f;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1bed0f;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*  */

/* Step number for the payment */
/* Step container */
.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Step circle */
.step {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Active step styling */
.step.active {
  background-color: #4caf50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Step label */
.step-label {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  text-align: center;
}

/* Line between steps */
.step-line {
  width: 50px;
  height: 4px;
  background-color: #ddd;
  margin: 0 10px;
  position: relative;
}

.step-line.active {
  background-color: #4caf50;
}

/* Active line */
.step-container.active ~ .step-line {
  background-color: #4caf50;
  transition: background-color 0.3s ease;
}

/* Slick Carousal */
.carousal-homepage {
  visibility: hidden;
}

div.slick-prev,
div.slick-next {
  background-color: red !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 20px;
  z-index: 1000;
}

div.slick-prev:hover,
div.slick-next:hover {
  background-color: darkred !important;
}

div.slick-prev {
  left: -50px !important;
}

div.slick-next {
  right: -50px !important;
}

ul.slick-dots li button:before {
  color: white !important; /* White dots */
  font-size: 8px;
}

ul.slick-dots li.slick-active button:before {
  color: #ffffff !important;
}

/* Footer */

/*  */

/* Responsive adjustments */
@media (max-width: 768px) {
  .step-line {
    width: 30px;
  }
  .step {
    width: 35px;
    height: 35px;
    font-size: 0.85rem;
  }
  .step-label {
    font-size: 0.8rem;
  }
}

/*  */

/* Category page - all products */
@keyframes offerSlide {
  0% {
    width: 40%;
    transform: translateX(0px);
  }
  5% {
    width: 40%;
    transform: translateX(10px);
  }
  50% {
    width: 40%;
    transform: translateX(200px);
  }
  100% {
    width: 40%;
    transform: translateX(350px);
  }
}

.card {
  position: relative;
  overflow: hidden;
}

.products-container {
  position: relative;
}

.offer-section {
  width: 15%;
  height: 25px;
  border-radius: 10px 10px 10px 10px;
  color: #f46f36;
  background-color: #000000;
  overflow-x: hidden;
  position: absolute;
  top: 1.5%;
  animation: offerSlide 1.8s ease-in infinite;
}
/* // Category page - all products */

/* Table Scrollbar styling for all table scrollbar */
.table-responsive {
  cursor: pointer;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  border-radius: 2px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #000; /* Color of the scroll thumb on hover */
}

/* Product viewing page */

.user-product-main:hover {
  cursor: crosshair;
}

.highlights li::marker {
  color: #7e7e7e;
}

/* // Product viewing page */

/*  Admin pagination  */
.page-number {
  background-color: #3d3d3d; 
  color: #f5a623;          
  border-color: #f5a623;    
  border-radius: 4px;      
  padding: 8px 12px;        
  font-weight: bold;        
  transition: all 0.2s ease;
}

.page-number-admin {
  background-color: #f46f36;
  color: black;
  border-color: rgb(0, 0, 0);
}

.prev-next-number {
  color: #f46f36;
}

.admin-pagination a:hover {
  color: #f46f36;
  background-color: #000;
}

/*  // Admin pagination  */

/* User Dashboard */
.user-dashboard-ul {
  list-style-type: none;
  padding: 0;
  /* border: 2px solid black */
}

.user-dashboard-ul li {
  border: 0.1px solid rgba(242, 240, 240, 0.578);
  padding: 0.6rem;
}

.user-dashboard-ul a {
  text-decoration: none;
  color: black;
}
/* // User Dashboard */

/* Password (Account Setting) */
.toggle-password {
  position: relative;
  z-index: 1;
  top: 24%;
  cursor: pointer;
  /* color: #ccc; */
}

/* // Password */

/* Wallet  */

.wallet-pagination li a {
  color: #000000;
}

/* // Wallet  */

/* Styling up to 480px */
@media (max-width: 425px) {
  .user-product-main {
    height: 400px;
    margin-left: 0px;
  }


  #searchBtn {
    margin-left: 110px;
    margin-top: 10px;
    width: auto;
  }

  .main-image {
    height: 400px;
  }

  .user-dashboard-ul {
    width: 100%;
    display: flex;
  }

  .dashboard-edits {
    display: block;
  }

  .user-sub-header {
    margin-left: -40px;
  }

  .profile-pic-selector {
    border: none;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #000000;
  }

  .profile-pic-btn {
    margin-left: -50px;
  }

  .progress-names {
    font-size: 0.7rem;
  }

  .font-sm {
    font-size: 0.9rem;
  }

  .order-details-total-amount {
    /* margin-left: -.5rem; */
    width: 120%;
  }

  .single-product {
    height: 100px;
  }

  .chart-div {
    height: 1000px;
  }

  .table-responsive {
    /* max-height: 350px;  */
    overflow-y: auto;
  }

  .order-table {
    max-height: 350px;
  }
}

/* Styling btw 481px to 768px */
@media (min-width: 425px) and (max-width: 768px) {
  .row.align-items-stretch > div {
    height: auto !important;
  }

  #searchBtn {
    margin-left: 150px;
    margin-top: 10px;
    width: auto;
  }

  .user-product-main {
    height: 400px;
  }

  /* .main-image {
    height: 400px;
  }
   */
  .font-sm {
    font-size: 0.9rem;
  }

  .order-details-total-amount {
    margin-left: 0.2rem;
    width: 120%;
  }

  .table-responsive {
    /* max-height: 350px;  */
    overflow-y: auto;
  }

  .order-table {
    max-height: 350px;
  }
}

/* Styling for 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .user-product-main {
    height: 400px;
  }

  .main-image {
    height: 400px;
  }

  .dashboard-edits {
    display: flex;
    flex-direction: row;
  }
}

/* Styles for screens between 1025px to 1200px wide (laptops and larger screens) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .user-product-main {
    height: 350px;
    margin-left: -10px;
  }

  .main-image {
    height: 300px;
  }

  .dashboard-edits {
    display: flex;
    flex-direction: row;
  }
}

/* Styles for screens wider than 1200px (large screens and desktops) */
@media (min-width: 1201px) {
  .user-product-main {
    height: 550px;
    margin-left: -50px;
  }

  .main-image {
    height: 550px;
  }

  .dashboard-edits {
    display: flex;
    flex-direction: row;
  }
}
